<div class="wrap">
  <div class="card">
    <h2>Iniciar sesión</h2>
    <p class="sub">Accede a tu cuenta.</p>

    <form (ngSubmit)="submit()" #f="ngForm">
      <label>Email</label>
      <input
        name="email"
        [(ngModel)]="email"
        type="email"
        required
        autocomplete="email"
        placeholder="tu@email.com"
      />

      <label class="mt">Contraseña</label>
      <input
        name="password"
        [(ngModel)]="password"
        type="password"
        required
        autocomplete="current-password"
        placeholder="••••••••"
      />

      <button type="submit" [disabled]="loading || !f.valid">
        {{ loading ? 'Entrando...' : 'Entrar' }}
      </button>

      <p class="err" *ngIf="errorMsg">{{ errorMsg }}</p>
    </form>
  </div>
</div>
